<?xml version="1.0"?>

<!-- literally just a wrapper to launch state-machine node and mavros_posix_sitl.launch -->


<launch>

	<include file="$(find px4)/launch/mavros_posix_sitl.launch"/>
	<!-- <node pkg="lakitu" type="state_control.py" name="state_control"/> -->
	<node pkg="lakitu" type="init.py" name="init_node" />
	<node pkg="lakitu" type="preflight.py" name="preflight_node" />
	<node pkg="lakitu" type="takeoff.py" name="takeoff_node" />	
	<node pkg="lakitu" type="flight.py" name="flight_node" />
	
		
 </launch> 	
