<robot name="lakitu">

	<!-- * * * Link Definitions * * * -->

 	<link name="base_link">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="0.08128 0.05588 0.0254"/>
			</geometry>
		</visual>	
	</link>
	
	<link name="odroid">
		<visual>
          	<origin xyz="0 0 0" rpy="0 0 0 "/>
          	<geometry>
              	<box size="0.08128 0.05588 0.0254" />
          	</geometry>
            <material name="Cyan1">
                  <color rgba="0 0.9 0.9 1.0"/>
            </material>
        </visual>	
    </link>

	<link name="airframe">
		<visual>
          	<origin xyz="0 0 -.0508" rpy="0 0 0"/>
          	<geometry>
              	<cylinder length=".1016" radius=".254"/>
            </geometry>
          	<material name="Cyan2">
              	<color rgba="66 239 80 1"/>
          	</material>
		</visual>
	</link>
          
    <link name="pixracer_IMU">
		<visual>
          	<origin xyz="0 0 -0.0222758" rpy="0 0 0"/>
          	<geometry>
              	<box size="0.038619938 0.044859956 0.014709902" />
            </geometry>
          	<material name="Cyan2">
              	<color rgba="66 239 80 1"/>
          	</material>
		</visual>
	</link>
	
	<joint name="j1" type="fixed">
	    <parent link="base_link"/>
	    <child link="airframe"/>
	</joint>
	
	<joint name="j2" type="fixed">
	    <parent link="airframe"/>
	    <child link="odroid"/>
	</joint>
	
	<joint name="j3" type="fixed">
	    <parent link="airframe"/>
	    <child link="pixracer_IMU"/>
	</joint>
	
		
 	
 
</robot>
